#page{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
    }
   #header{
    padding-top: 2%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
    background-color: rgb(53, 119, 219);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
   }
   
   #image{
    flex: 0.8;
    height: 100%;
   }
   img{
    margin-left: 16%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    padding: 1%;
   }
   #yazilar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    flex:1.2;
    width: 100%;
   }
   #icons{
    display: flex;
    flex: 0.5;
   padding-top: 5%;
   padding-right: 1%;
   }
   .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.7;
    }
    .fa-twitter {
        background-color: rgb(53, 119, 219);
    color: white;
    }
    .fa-linkedin {
        background-color: rgb(53, 119, 219);
    color: white;
    }
    .fa-instagram {
        background-color: rgb(53, 119, 219);
    color: white;
    }
    .fa-github {
        background-color: rgb(53, 119, 219);
    color: white;
    }
   #aboutMe{
    flex: 1;
    width: 52%;
    margin-left: 3%;
    color: rgb(56, 56, 56);
   }
   #textAboutMe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(94, 94, 94);
   }
   #tableDiv{
    flex:1;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(94, 94, 94);
   }
   table{
    text-align: left;
    table-layout: auto;
    width: 130%;
    }
   #skills{
    flex: 1;
    width: 52%;
    margin-left: 3%;
    color: rgb(56, 56, 56);
   }
   #PL{
    display:flex;
    flex-direction: row;
    color: rgb(94, 94, 94);
   }
   #skills1{
    flex: 1;
   }
   #skills2{
    flex: 1;
   }
   #barDiv{
        width: 95%;
        height: 10%;
        display: flex;
        flex-direction: row;
    }
    .bar{
        width: 100%;
        height: 100%;
    }
    #bar1{
        width: 100%;
        background-color: rgb(53, 119, 219);
    }
    #bar2{
        width: 0%;
        background-color: rgb(157, 196, 255);
    }
    #bar3{
        width: 90%;
        background-color:rgb(53, 119, 219);
    }
    #bar4{
        width: 10%;
        background-color: rgb(157, 196, 255);
    }
    #bar5{
        width: 80%;
        background-color: rgb(53, 119, 219);
    }
    #bar6{
        width: 20%;
        background-color: rgb(157, 196, 255);
    }
    #bar7{
        width: 75%;
        background-color: rgb(53, 119, 219);
    }
    #bar8{
        width: 25%;
        background-color: rgb(157, 196, 255);
    }
    #bar9{
        width: 80%;
        background-color: rgb(53, 119, 219);
    }
    #bar10{
        width: 20%;
        background-color: rgb(157, 196, 255);
    }
    #bar11{
        width: 80%;
        background-color: rgb(53, 119, 219);
    }
    #bar12{
        width: 20%;
        background-color: rgb(157, 196, 255);
    }
   #education{
    flex: 1;
    width: 52%;
    margin-left: 3%;
    color: rgb(56, 56, 56);
   }
   #schoolTable{
    color: rgb(94, 94, 94);
    table-layout:auto;
    width: 100%;
    }
   
   #footer{
    flex: 1;
    width: 52%;
    margin-left: 3%;
    color: rgb(56, 56, 56);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
#footer p{
    color: rgb(94, 94, 94);
   }
   address{
    color: rgb(94, 94, 94);
   }
   #hobbies{
    flex: 1;
   }
   #infos{
    flex: 1;
   }
   #contact{
    flex: 1;
   }
   hr{
    height: 1%;
    width: 55%;
    color: black"
   }
   .footerhr{
    background-color: rgb(128, 125, 125); 
    width: 82%; margin-left: 0%; 
    height: 0.0001%;
   }
   a{
    color: rgb(94, 94, 94);
   }
   a:link {
  text-decoration: none;
    }

    a:visited {
    text-decoration: none;
    }

    a:hover {
        color: rgb(56, 56, 56);
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
    #projects{
        flex: 1;
    width: 52%;
    margin-left: 3%;
    color: rgb(56, 56, 56);
   
    }
    #projectTable{

    color: rgb(94, 94, 94);
    table-layout:fixed;
    width: 100%;
    
    }